p {
    border: 1px solid green;
    padding: 10px;
    color: red;
}

span {
    text-decoration: underline;
    font-weight: 300;
}

button {
    padding: 5px 20px;
    box-shadow: 1px #ccc inset;
    font-size: 1em;
    font-weight: bold;
    background: #ffcc33;
}